body {
  background-color: rgba(236, 110, 76, 0.1);
}
h1 {
  line-height: 1;
  font-size: 38px;
  margin-bottom: 4px;
}
ul {
  padding-left: 0;
  line-height: 1;
}
li {
  list-style: none;
}
a {
  color: rgb(236, 110, 76);
}
a:hover {
  color: rgb(204, 94, 67);
}
footer {
  color: rgb(0 0 0 / 35%);
}
.container {
  max-width: 805px;
}
.weather-app {
  background-color: #fff;
  border: 1px solid rgba(125, 125, 125, 0.25);
  border-radius: 10px;
  box-shadow: 5px 5px 30px -5px rgb(0 0 0 / 35%);
  font-family: "Jost", sans-serif;
  margin: 100px auto;
  max-width: 705px;
  padding: 20px 22px;
}
.search-button,
.location-button {
  color: rgb(236, 110, 76);
  border-color: rgb(236, 110, 76);
}
.search-button:hover,
.location-button:hover {
  background-color: rgb(236, 110, 76);
  border-color: rgb(236, 110, 76);
}
.overview-icon {
  position: relative;
  bottom: 10px;
  right: 40px;
}
.local-temperature {
  line-height: 1;
  font-size: 60px;
  position: relative;
  top: 4px;
}
.temp-units {
  font-size: 14px;
  position: relative;
  bottom: 28px;
}
.active {
  color: rgb(0 0 0);
  cursor: default;
}

.active:hover {
  color: rgb(0 0 0);
  text-decoration: none;
}
.feels-like-temp {
  position: relative;
  bottom: 6px;
}
.forecast {
  text-align: center;
  font-size: 15px;
  line-height: 2;
}
.forecast-cards {
  padding: 0 5px;
}
.forecast-icon {
  width: 40px;
  height: auto;
}
.forecast-temp .precipitation {
  font-size: 12px;
}
.today-forecast {
  background-color: rgba(125, 125, 125, 0.25);
}
.host {
  text-align: right;
}
